extends layout

block content
  script(src='//cdn.tinymce.com/4/tinymce.min.js')
  script.
    tinymce.init({ selector:'textarea',readonly:true,menubar:false,branding:false,toolbar:false,
                        plugins: "autoresize",resize:false,autoresize_bottom_margin: 20});
  h1 #{article.title}
  h5 Posted By 
    strong #{author} 
    on #{article.written}  
    br
    br
    p.btn.btn-info Category: #{article.category}
    p.btn.btn-warning(style='float: right;') Views: #{views}
  textarea #{article.body}
  hr
  if user
    if user.id==article.author || user.isAdmin
      a.btn.btn-primary(href='/articles/edit/'+article._id) Edit
      a.btn.btn-danger(href='/articles/delete/'+article._id,style="margin-left:20px;") Delete
      br
      br
  .fb-like(data-href="https://articlehub.herokuapp.com/articles/"+article._id, data-layout="standard", data-action="like", data-size="small", data-show-faces="true", data-share="true")
  br
  .fb-comments(data-href="https://articlehub.herokuapp.com/articles"+article._id, data-numposts="5")
  
