extends layout
block content
  if !articles.length
    h1 No Results Found
    br
    br
    br
    br
    br
    br
    br
  if articles
    if articles.length
      h1 #{title}
    br
    ul.list-group.mr-auto
      each article, i in articles
        .row
          .col-sm-8
            .thumbnail
              .caption
                button.btn.btn-warning(style='float: right;', type='button')
                  | Views:
                  span.badge #{article.views} 
                h3
                  a(href='/articles/'+article._id)=article.title
                p(style='color: #555555')
                  p.span.glyphicon.glyphicon-pencil(aria-hidden='true')
                    h6 Written by: 
                      strong #{article.authorName}
                  p.span.glyphicon.glyphicon-pencil(aria-hidden='true')
                    h6 Category: 
                      strong #{article.category}
                hr
  h3 
    if pageCount > 1
         p Page:
         ul.pagination
          if currentPage > 1
           li
            a(href='/articles/search/?page=1')  &laquo;
          - var x = 1
          if currentPage > 5
           - x = x + (currentPage - 4)
          if (x !== 1)
             li.disabled
                a(href='#') ...
          - for (x; x <= pageCount; x++)
             if( currentPage == x)
              li.active
                 span.sr_only
                     = currentPage
             else
               li
                 a(href= "/articles/search/?page="+x )
                  = x
             if x == (currentPage + 4)
                 li.disabled
                  a(href="#") ...
                  - break
          if currentPage != pageCount
          li
              a(href= "/articles/search/?page=#{Math.floor(pageCount)}" ) &raquo;
